body{
    background-image: url(".././image/sign_in_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;

}

.sign_in_box{
    width: 50%;
    margin: 100px auto;
    background-origin: content-box;
}

.bnt-kirish
{
    position: absolute;
    right: 20px;
    top: 20px;
}